
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;


    --theme-color: #FEE356;
    --sec-color: #7358FE;
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: var(--body-font);
     
}
a {
    text-decoration: none;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--sec-color);
    /* background-color: aqua; */
    text-align: center;
    text-decoration: underline;
    
}





.nav-bar{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 5px 5px 3px #7358FE; */
    border-bottom: 4px solid #FED60F;
    background-color: #7358FE;
}

.nav-bar .nav-btns ul {
    
    display: flex;
    list-style: none;
    justify-content: space-between;

}


.nav-btns li a {
    padding: 1em;
    
    color: var(--theme-color);
    /* background-color: aqua; */
}
.nav-btns li a:hover {
    font-weight: bold;

}

.logo a {
    padding: 0.5em;
    color: var(--theme-color);
    text-decoration: none;
    font-size: var(--big-font-size);
    font-weight: bold;
}



/* nav-bar ends here */


.hero-cta {
    position: relative;
}

h1 {
    display: block;
    margin: 0;
    padding: 0; 
    color: #7358FE;
}


img.hero-img {
    position: relative;
    top: 30px;
    max-width: 45%;
    border-radius: 50%;
    border: 3px solid #7358FE;
    box-shadow: -3px 3px 10px #7358FE;
}


.side-logos {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/* side logos */
.brand-logo {
    margin: 0;
    color: var(--sec-color);
    font-size: 1.5em;
    padding: 0.5em 0em;
    
}

.hero-cta .container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
   
}
.hero-cta .text-sec {
    position: relative;
    top: 80px;
    left: 50px;
    /* background-color: red; */
    text-align: left;
    margin-bottom: 3em;
    display: inline;
    width: 100%;
   
}
 .text-sec h1 {
    color:rgb(56, 51, 51);
    
} 
.text-sec h3 {
    color: gray;
    /* background-color: red; */
    margin-top: 0.5em ;
    
}


.text-sec .contact-btn {
    display: block;
    background-color: var(--theme-color);
    color:#7358FE;
    max-width: fit-content;
    font-size: var(--h2-font-size);
    padding:  0.3em 0.5em;
    margin-top: 1em;
    font-weight: bold;
    border-radius: 1em;
    box-shadow: 1px 2px 1px #7358FE;
    
}

.text-sec .contact-btn:hover{
    background-color:var(--sec-color);
    color: var(--theme-color);

}

/* About section starts here */
.about-section {
    max-width: 100%;
    /* background-color: red; */
    margin: 5rem auto;
}

section {
  background: var(--theme-color);
  text-align: left;
  padding: 1em 1.5em;
  width: 80%;
  margin: 4em auto;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #7358FE;
  
}



.skill-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--sec-color);
    padding: 1.5em;
} 

.skill-name {
    /* background-color: coral; */
    margin-top: -1em;
    padding-right: 1em;
    

}
   
 .bar-container {
    width: 100%;
    

}
.skill-container .bar-container #progress-bar {
    width: 100%;
    height: 29px;
    background-color: white;
    border-radius: 0.3em;
    margin-bottom: 1em;
}
    

/* #js-progress-bar, #css-progress-bar, #html-progress-bar {
    background-color: #ddd;
} */



/* work section starts here */

ul.work-sec {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: red; */
    
}

.work-sec li {
    /* background-color: var(--sec-color); */
    margin-top: 0.5em;
    text-align: left;
    
}

.work-sec li a {
    color: var(--sec-color); 

}

.work-sec li img{
    
    max-width: 60%
}

 .contact-section .container{ 
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.name, .email, textarea {
    padding: 0.5em;
    border: 1.5px solid #7358FE;
    border-radius: 0.3em;
    margin-top: 2em;
    font-size: var(--normal-font-size);


}

.contact-section .send-btn{
    background-color: var(--theme-color);
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    color: var(--sec-color);
    box-shadow: 5px 5px 4px var(--sec-color);
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    color: var(--sec-color);
}

footer .brand-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer .brand-container a {
    margin: 0.5em 1em;
}

footer h2 {
    text-decoration: none;
    margin-bottom: none;
}

 /* .contact-btn{
    margin: 0;
    color: var(--sec-color);
    font-size: 1.5em;
    padding: 0em 2em ;

} */

