
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;


    --theme-color: #FEE356;
    --sec-color: #7358FE;
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: var(--body-font);
     
}
a {
    text-decoration: none;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--sec-color);
    /* background-color: aqua; */
    text-align: center;
}







/* nav-bar ends here */


.hero-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    display: block;
    margin: 0;
    padding: 0; 
    color: #7358FE;
}


.hero-img {
    position: relative;
    top: 30px;
    left: -20px;
    max-width: 50%;
    border-radius: 50%;
    border: 0px solid #7358FE;
    box-shadow: -3px 3px 10px #7358FE;
}


.side-logos {

    margin-left: 50px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
/* side logos */
.brand-logo {
    margin: 0;
    color: var(--sec-color);
    font-size: 1.4em;
    padding: 0.5em 0em;
    
}

.hero-cta .container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
   
}
.hero-cta .text-sec {
    position: relative;
    top: 60px;
    left: -30px;
    /* background-color: red; */
    text-align: left;
    margin-bottom: 3em;
    display: inline;
    width: 100%;
   
}
.text-sec h1 {
    color:rgb(56, 51, 51);
    
} 
.text-sec h3 {
    color: rgb(85, 84, 84);
    /* background-color: red; */
    margin-top: 0.5em ;
    
}
.text-sec p {
    color: rgb(71, 71, 71);
}


.text-sec .contact-btn {
    display: block;
    background-color: var(--theme-color);
    color:#7358FE;
    max-width: fit-content;
    font-size: var(--h2-font-size);
    padding:  0.3em 0.5em;
    margin-top: 1em;
    font-weight: bold;
    border-radius: 1em;
    box-shadow: -3px 3px 10px #7358FE;
    
}

.text-sec .contact-btn:hover{
    background-color:var(--sec-color);
    color: var(--theme-color);

}

/* About section starts here */


section {
  background: var(--theme-color);
  text-align: left;
  padding: 1em 1.5em;
  width: 80%;
  margin: 4em auto;
  border-radius: 1em;
  box-shadow: -4px 4px 10px #7358FE;
  
}

.about-section {
    max-width: 100%;
    /* background-color: red; */
    margin: 4rem auto;
}

.skill-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--sec-color);
    padding: 1.5em;
} 

.skill-name {
    /* background-color: coral; */
    margin-top: -1em;
    padding-right: 1em;
    

}
   
 .bar-container {
    width: 100%;
    

}
.skill-container .bar-container #progress-bar {
    width: 100%;
    height: 18px;
    background-color: white;
    border-radius: 0.3em;
    margin-bottom: 1em;
}
    


/* work section starts here */

ul.work-sec {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: red; */
    
}

.work-sec li {
    /* background-color: var(--sec-color); */
    margin-top: 0.5em;
    text-align: left;
    
}

.work-sec li a {
    color: var(--sec-color); 

}

.work-sec li img{
    
    max-width: 60%
}

 .contact-section .container{ 
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.name, .email, textarea {
    padding: 0.5em;
    border: 1.5px solid #7358FE;
    border-radius: 0.3em;
    margin-top: 2em;
    font-size: var(--normal-font-size);


}

.contact-section .send-btn{
    background-color: var(--theme-color);
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    color: var(--sec-color);
    box-shadow: -4px 4px 10px #7358FE;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
    color: var(--sec-color);
}

footer .brand-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer .brand-container a {
    margin: 0.5em 1em;
}

footer h2 {
    text-decoration: none;
    margin-bottom: none;
}

 /* .contact-btn{
    margin: 0;
    color: var(--sec-color);
    font-size: 1.5em;
    padding: 0em 2em ;

} */

@media(max-width: 610px) {
    .nav-bar{
       
        padding: 1em;
        box-shadow: -3px 3px 10px #7358FE;
        /* border-bottom: 4px solid #FED60F; */
        /* background-color: #7358FE; */
    }
    .logo a {
        margin-left: 1.75em;
        color: var(--sec-color);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;    
    }
    .nav-option {
        display: none;
    }
}
@media (min-width: 610px) {

    .nav-bar{
        position: relative;
        display: flex;
        justify-content: space-between;
        box-shadow: -3px 3px 10px #7358FE;
        /* border-bottom: 4px solid #FED60F; */
        /* background-color: #7358FE; */
    }
    
    .nav-bar ul {
        
        display: flex;
        list-style: none;
        justify-content: space-between;
    
    }
    
    .nav-bar a {
        color: var(--sec-color);
    }
    
    .nav-btns {
        padding: 1em;
        
        /* background-color: aqua; */
    }

    .nav-btns:hover {
        font-weight: 600;
    
    }
    
    .logo a {
        position: absolute;
        top: 0.8em;
        left: 0.855em;
        color: var(--sec-color);
        text-decoration: none;
        font-weight: 600;
        font-size: 1.1rem;    
    }
    .hero-cta .container {
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
       
    }
    
    
    
    
}
