
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;


    --theme-color: #FEE356;
    --sec-color: #7358FE;
}
body{
    font-family: var(--body-font);
     
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    
}
h2 {
    font-size: var(--h2-font-size);
    color: var(--sec-color);
    /* background-color: aqua; */
    text-align: center;
    text-decoration: underline;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 5px 5px 3px #7358FE; */
    border-bottom: 4px solid #FED60F;
    background-color: #7358FE;
}

.nav-bar .nav-btns ul {
    
    display: flex;
    list-style: none;
    justify-content: space-between;

}


.nav-btns li a {
    padding: 1em;
    
    color: var(--theme-color);
    /* background-color: aqua; */
}
.nav-btns li a:hover {
    font-weight: bold;

}

.logo a {
    padding: 0.5em;
    color: var(--theme-color);
    text-decoration: none;
    font-size: var(--big-font-size);
    font-weight: bold;
}
h1 {
    display: block;
    margin: 0;
    padding: 0; 
    color: #7358FE;
}
img.hero-img {
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}
.hero-cta .container {
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    
}
.hero-cta .text-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    text-align: left;
    width: 250px;
}
.text-sec h1 span{
    color: #595AFF;
}
.text-sec a {
    background-color: var(--theme-color);
    color:#7358FE;
    max-width: fit-content;
    font-size: var(--h2-font-size);
    margin-top: 1em;
    padding:  0.3em 0.5em;
    font-weight: bold;
    border-radius: 1em;
    box-shadow: 1px 2px 1px #7358FE;
    
    
}

.text-sec a:hover{
    background-color:var(--sec-color);
    color: var(--theme-color);

}
.content-sec .container li.menu {
  background: var(--theme-color);
  text-align: left;
  padding: 0.5em 1.5em;
  width: 80%;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 10px 10px 8px #7358FE;
  
}

.skill-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--sec-color);
    padding: 1.5em;
} 

.skill-name {
    /* background-color: coral; */
    margin-top: -1em;
    padding-right: 1em;
    

}
   
 .bar-container {
    width: 100%;
    

}
.skill-container .bar-container #progress-bar {
    width: 100%;
    height: 29px;
    background-color: white;
    border-radius: 0.3em;
    margin-bottom: 1em;
}
    

/* #js-progress-bar, #css-progress-bar, #html-progress-bar {
    background-color: #ddd;
} */

ul.work-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    
}

.work-sec li {
    background-color: var(--sec-color);

    
    
    
}

.work-sec li a {
    color: white;
    

}

.work-sec li img{
    
    max-width: 60%
}

 .contact-sec .container{ 
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.name, .email, textarea {
    padding: 0.5em;
    border: 1.5px solid #7358FE;
    border-radius: 0.3em;
    margin-top: 2em;
    font-size: var(--normal-font-size);


}

.contact-sec a{
    background-color: var(--theme-color);
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    color: var(--sec-color);
    box-shadow: 5px 5px 4px var(--sec-color);
}
.footer-sec {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color);
}

.footer-sec .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-sec h2 {
    text-decoration: none;
    margin-bottom: none;
}

.container .contact-btn{
    margin: 0;
    color: var(--sec-color);
    font-size: 1.5em;
    padding: 0em 1em ;

}

footer {
    margin: 0;
    color: var(--sec-color);
}